body {
    max-width: 100vw;
}
#root {
    margin: auto;
    padding: 0;
    text-align: center;
    width: 100vw;
    max-width: 100%;
}

::selection {
    background-color: rgba(
        255,
        165,
        0,
        0.5
    ); /* Couleur de fond pour la sélection */
    color: white; /* Couleur du texte lors de la sélection */
}

/* Styles spécifiques pour Firefox */
::-moz-selection {
    background-color: rgba(
        255,
        165,
        0,
        0.5
    ); /* Couleur de fond pour la sélection */
    color: white; /* Couleur du texte lors de la sélection */
}

.playfair {
    font-family: "Playfair", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Masquer la barre de défilement pour Firefox */
.hide-scrollbar {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE et Edge */
}

.img-akim {
    width: 14rem;
    transition: all 0.5s ease-in-out;
    @media (max-height: 720px) {
        width: 25vh;
    }

    @media (max-height: 400px) {
        width: 0;
    }
}

.bg-akim {
    /* assets */
    background-image: url("./assets/bg2.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.animate-delay-slow {
    animation-delay: 0.75s;
}

.animate-delay-medium {
    animation-delay: 0.5s;
}

.animate-delay-fast {
    animation-delay: 0.25s;
}

.animate-delay-last {
    animation-delay: 0.9s;
}

.grecaptcha-badge {
    display: flex;
    justify-content: start;
    /* scale: 0.85; */
}

.loading-spin {
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(-90deg);
    }
    100% {
        transform: rotate(270deg);
    }
}

.element {
    position: relative;
    height: 300px; /* Ajuste selon tes besoins */
    width: 100%; /* Ajuste selon tes besoins */
    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0) 20%,
        /* Début de la transition floue à 20% */ rgba(255, 0, 0, 1) 20%
            /* Couleur (rouge ici) à partir de 20% */
    );
    overflow: hidden;
}

.element::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20%; /* Image prend 20% */
    background: url("image.jpg") no-repeat center center;
    background-size: cover;
    filter: blur(5px); /* Flou sur l'image */
    z-index: 1;
}

.element::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20%; /* La même hauteur que l'image pour superposition */
    background: url("image.jpg") no-repeat center center;
    background-size: cover;
    z-index: 2;
}
