body {
    max-width: 100vw;
}
#root {
    margin: auto;
    padding: 0;
    text-align: center;
    width: 100vw;
    max-width: 100%;
}

::selection {
    background-color: rgba(
        255,
        165,
        0,
        0.5
    ); /* Couleur de fond pour la sélection */
    color: white; /* Couleur du texte lors de la sélection */
}

/* Styles spécifiques pour Firefox */
::-moz-selection {
    background-color: rgba(
        255,
        165,
        0,
        0.5
    ); /* Couleur de fond pour la sélection */
    color: white; /* Couleur du texte lors de la sélection */
}

.playfair {
    font-family: "Playfair", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Masquer la barre de défilement pour Firefox */
.hide-scrollbar {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE et Edge */
}

.img-akim {
    width: 14rem;
    transition: all 0.5s ease-in-out;
    @media (max-height: 720px) {
        width: 25vh;
    }

    @media (max-height: 400px) {
        width: 0;
    }
}

.bg-akim {
    /* assets */
    background-image: url("./assets/bg2.jpg");
    background-size: cover;
}

.animate-delay-slow {
    animation-delay: 0.75s;
}

.animate-delay-medium {
    animation-delay: 0.5s;
}

.animate-delay-fast {
    animation-delay: 0.25s;
}

.animate-delay-last {
    animation-delay: 0.9s;
}

.loading-spin {
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
